*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.slideshow{
  height: 100vh;
  width: 100vh;
  position: relative;
  background-size:cover;
  background-position:cover;
  animation-duration: 60s;

}
@keyframes backgroundslide {
  0%,45%{background-image: url("asset/mic sales photos/background 1.jpg");}
  50%,95% {background-image: url("asset/mic sales photos/background 2.jpg");}
  95%,100% {background-image: url("asset/mic sales photos/mic sales official pic.PNG");}

}
.textoverlay{
background-color: black;
height: 100;
width: 100;
display: flex;
flex-direction: column;
}

.navbar1{
  display:flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;

}

.logoname{
  color:#fff;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.nav-links{
display: flex;
}
.nav-links a{
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;

}
.nav-links li{
  margin-left: 30px;

}

content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;

}
.content h1{
  font-size: 50px;
  letter-spacing: 4px;
  margin-bottom: 20px;

}

.bookings{
  display: flex;
  font-weight: bold;
  border-radius: 3px;
  margin: 0 10px;
  border: 2px solid white;
  color: #fff;
}
